extends layout.pug

block append content
  .row.card-deck.mt-3.justify-content-center
    if tweets[0]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[0].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[0].user.screen_name}
            p.card-text
              | #{tweets[0].text}
    if tweets[1]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[1].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[1].user.screen_name}
            p.card-text
              | #{tweets[1].text}
    if tweets[2]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[2].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[2].user.screen_name}
            p.card-text
              | #{tweets[2].text}
    if tweets[3]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[3].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[3].user.screen_name}
            p.card-text
              | #{tweets[3].text}
    if tweets[4]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[4].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[4].user.screen_name}
            p.card-text
              | #{tweets[4].text}
    if tweets[5]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[5].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[5].user.screen_name}
            p.card-text
              | #{tweets[5].text}
    if tweets[6]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[6].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[6].user.screen_name}
            p.card-text
              | #{tweets[6].text}
    if tweets[7]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[7].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[7].user.screen_name}
            p.card-text
              | #{tweets[7].text}
    if tweets[8]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[8].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[8].user.screen_name}
            p.card-text
              | #{tweets[8].text}
    if tweets[9]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[9].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[9].user.screen_name}
            p.card-text
              | #{tweets[9].text}
    if tweets[10]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[10].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[10].user.screen_name}
            p.card-text
              | #{tweets[10].text}
    if tweets[11]
      .col-12.col-lg-4.text-center
        .card.mb-3.text-white.bg-dark
          img.card-img-top(src=`${urls[11].images.fixed_height.url}`, alt='Card image cap')
          .card-body
            h5.card-title #{tweets[11].user.screen_name}
            p.card-text
              | #{tweets[11].text}
